/*----------------------------------------------
    Template Author
------------------------------------------------

    @author 	: initTheme
    @url 	    : initTheme

------------------------------------------------
    E n d 
------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {

    --white: #fff;
    --light: #d8dbe0;
    --dark: #28292c;
    --info: #0dcaf0;
    
    --primary:#106fde;
    --secondary:#28B95E ;
    --tertiary:#F0783C ;
  
    --primary-rgb: 16, 111, 222;
    --secondary-rgb: 40, 185, 94;
    --tertiary-rgb: 240, 120, 60;
  
    --btn-color-one: #696CFF;
    --heading-color-one: #38475a;
    --heading-color-two: #444A51;
    
    --paragraph-color-one: #84869a;
    --paragraph-color-two: #475467;
    --paragraph-color-three: #475467;
  
    --section-bg-one:#F9F9F9;
    --section-bg-two:#202330;
    --section-bg-three:#f8f9fa;
  
    --border-color-one: #D0D5DD;;
    --border-color-two:#EDEDED;
    --border-color-two:#EDEDED;
  
    --radius-three: 4px;
    --radius-two: 8px;
    --radius-one: 16px;
  
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --extra-font: 'Roboto', sans-serif;
  
    font-size: 16px;
    font-weight: 400;
    font-family: var(--body-font);

  }


body {
    color: var(--paragraph-color-one);
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
}
*, :after, :before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility!important;
    box-shadow: none;
    border: none;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.overflow {
    overflow: hidden;
}
a{
    border: 0;
    text-decoration: none;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.lf-50 .left {
    width: 40%;
    padding-right: 30px;
}
@media only screen and (max-width:768px) {
    .lf-50 .left {
    padding-right: 0;
    width: 100%}
}.lf-50 .right {
    width: 60%}
@media only screen and (max-width:768px) {
    .lf-50 .right {
    width: 100%}
}.lf-50 .right img {
    width: 100%}
.left {
    float: left;
}
.right {
    float: right;
}
.main.clearfix aside.left #logo, .main.clearfix aside.left #logo:hover, .two_s, a, a:hover, footer .right p #adveits img, footer .right p #adveits img:hover {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
a {
    text-decoration: none;
    color: var(--heading-color-one);
}
a:hover {
    color: var(--primary);
}
h1 {
    font-size: 36px;
    margin-bottom: 25px;
    width: 100%;
    font-weight: 400;
    color: var(--heading-color-one);
}
@media only screen and (max-width:1024px) {
    h1 {
    font-size: 30px;
}
}
h2 {
	font-size: 30px;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 15px;
	width: 100%;
	font-weight: 600;
	margin-bottom: 32px;
	color: var(--heading-color-one);
}
@media only screen and (max-width:1024px) {
    h2 {
    font-size: 26px;
    
}
}h3 {
    font-size: 20px;
    padding-bottom: 13px;
    width: 100%;
    font-weight: 400;
    color: var(--heading-color-one);

}
@media only screen and (max-width:1024px) {
    h3 {
    font-size: 20px;
}
}.no-border {
    border-bottom: 0;
}
.main.clearfix aside.left {
    position: fixed;
    /* background: #f8f8f8; */
    width: 23%;
    height: 100%;
    text-align: right;
    padding-top: 60px;
    box-shadow: 6px 0px 5px rgba(98, 93, 93, 0.1);
}
@media only screen and (max-width:1024px) {
    .main.clearfix aside.left {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: left;
}
}.main.clearfix aside.left #logo {
    padding-right: 45px;
    padding-bottom: 60px;
}
.main.clearfix aside.left #logo a {
    display: inline-block;
}
.main.clearfix aside.left #logo a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
@media only screen and (max-width:1024px) {
    .main.clearfix aside.left #logo {
    float: left;
    padding-bottom: 0;
}
}.main.clearfix aside.left #logo a {
    border-bottom: 0;
}
.main.clearfix aside.left .version p {
    font-size: 14px;
    color: var(--heading-color-one);
}
@media only screen and (max-width:1024px) {
    .main.clearfix aside.left .version p {
    font-size: 12px;
}
}.main.clearfix aside.left #mobile-menu {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.main.clearfix aside.left #mobile-menu .fas {
    font-size: 30px;
    color: var(--heading-color-one);
}
@media only screen and (max-width:1024px) {
    .main.clearfix aside.left #mobile-menu {
    display: block;
}
}.main.clearfix aside.left #mobile-menu.active a .fas:before {
    content: "\f00d"}
@media only screen and (min-width:1024px) {
    .main.clearfix aside.left nav {
    display: block!important;
    overflow: scroll;
    height: 100%;
    padding-bottom: 120px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main.clearfix aside.left nav::-webkit-scrollbar {
    display: none;
}
}
@media only screen and (max-width:1024px) {
    .main.clearfix aside.left nav {
        display: none;
        width: 100%;
        background: #fff;
        position: absolute;
        z-index: 9;
        left: 0;
        top: 95px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}@media only screen and (max-width:1024px) {
    .main.clearfix aside.left nav ul {
    max-width: 320px;
}
}.main.clearfix aside.left nav ul li {
    list-style: none;
    margin-bottom: 40px;
}
@media only screen and (max-width:1024px) {
    .main.clearfix aside.left nav ul li {
        margin-bottom: 20px;
    }
    .main.clearfix aside.left nav ul li a{
        font-size: 20px !important;
    }
}
@media (max-height:800px) {
    .main.clearfix aside.left nav ul li {
        margin-bottom: 20px;
    }
    .main.clearfix aside.left nav ul li a{
        font-size: 20px !important;
    }
}
.main.clearfix aside.left nav ul li a {
    display: block;
    font-size: 20px;
    padding-right: 45px;
    border-bottom: 0;
    color: var(--heading-color-one);
    position: relative;
    overflow: hidden;
    font-weight: 600;
}
.main.clearfix aside.left nav ul li a:hover {
    color: var(--primary);
}
.main.clearfix aside.left nav ul li a:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--primary);
    height: 100%;
    width: 4px;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.main.clearfix aside.left nav ul li a:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.main.clearfix aside.left nav ul li a.active {
	color: var(--primary);
}

.main.clearfix aside.left nav ul li a.active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.main.clearfix>.right {
    /* background: #f8f8f8; */
    width: 77%
}
.lefts p {
	color: var(--heading-color-one);
}
.mb-20{
    margin-bottom: 20px !important;
}
.right a{
    color: var(--font-color-one);
}

@media only screen and (max-width:1024px) {
    .main.clearfix>.right {
    width: 100%}
}
@media only screen and (max-width:768px) {
    .main-left.two{
        flex-wrap: wrap;
    }
}

.no-border {
	font-size: 40px;
	color: var(--heading-color-one);
}

.main.clearfix>.right #wrapper {
    max-width: 1400px;
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 75px;
}
@media only screen and (max-width:1024px) {
    .main.clearfix>.right #wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%}
}section.section {
    padding-top: 60px;
}
@media only screen and (max-width:1024px) {
    section#introduction {
    padding-top: 30px;
}


}section.section p {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 30px;
}
section.section p:last-child {
    margin-bottom: 0;
}
section#contacts p:last-child {
    margin-bottom: 25px;
}
section.section p strong {
    font-weight: 700;
}
section.section ul {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
}
section.section ul:last-child {
    margin-bottom: 0;
}
section.section ul li {
    line-height: 30px;
}

footer .right p {
    margin-top: 25px;
    margin-bottom: 25px;
}
footer .right p #adveits {
    display: block;
}
footer .right p #adveits img {
    display: block;
}
footer .right p #adveits img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
@media only screen and (max-width:768px) {
    .main.clearfix>.right img {
    width: 100%}
}.main.clearfix>.right #wrapper {
    padding-top: 0;
}
.p-t-60 {
    padding-top: 60px;
}
.p-t-70 {
    padding-top: 70px;
}
.m-t-15 {
    margin-top: 15px!important;
}
.no-m-b {
    margin-bottom: 0!important;
}
.no-m-t {
    margin-top: 0!important;
}
hr {
    border-bottom: 1px solid #cfcfcf;
}
.m-b-300 {
    margin-bottom: 300px;
}
@media only screen and (max-width:1024px) {
    .m-b-300 {
    margin-bottom: 0;
}
}.section img {
    width: 100%}
.m-t-30 {
    margin-top: 30px;
}
.snippet {
    padding: .2em .5em;
    background-color: var(--heading-color-one);
    font-family: Consolas, sans-serif;
    font-size: .8em;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
}
section.section ol {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
}
section.section ol li {
    line-height: 30px;
}
section.section ol li ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}
.mt-0 {
    margin-top: 0!important;
}
.mb-0 {
    margin-bottom: 0!important;
}


.introduction h1{
    font-size: 20px;
    color: #198050;
    padding: 16px 0 16px 14px;
    background: #7ef1bc42;
    margin: 0;
    margin-bottom: 0px;
    border-left: 4px solid #4be9a096;
    margin-bottom: 30px;
    line-height: 1.3;
}
.introduction h1 span{
    font-family:'Cambay', sans-serif;
    margin-right: 10px;
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    position: relative;
    bottom: -3px;
}
.main-left{
    display: flex;
    margin-bottom:10px;
}
.list-stle li{
        list-style:none ;
}
.main-left h3{
    display: block;
    font-weight: 600;
    font-size: 20px;

}
.main-left .right{
    margin-left: 40px;
    
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
/* btn */
.note{
    background: #FBE3E4;
    padding: 10px;
    border-left: 4px solid #e9a1a5;
}
.note strong{
    color: #B93911;
}
.footer{
    padding: 30px 0px;
    text-align: center;
}
.btn {
    background: rgb(0, 0, 0);
    text-transform: inherit !important;
    padding: 23px 31px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 400 !important;
    border-radius: 0px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    -moz-user-select: none;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background:var(--primary);
    z-index: 1;
    border-radius: 0px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;
  }
  .btn i {
    padding-right: 11px;
  }
  .btn:hover {
    color: #fff !important;
  }
  .btn:hover::before {
    transform: scaleX(1);
    z-index: -1;
  }
  
/* Footer social */
.header-social {
    margin-left: 0 !important;
}
.header-social li {
    display: inline-block;
    border-right: 0px !important;
    margin-right: 0px;
    padding-right: 0px;
}

.header-social li a {
	border: 1px solid var(--heading-color-one);
	font-size: 20px;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
	color: var(--heading-color-one);
}

.header-social li a i {
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}
.header-social li a:hover{
    background: var(--heading-color-one);
    border: 1px solid transparent;
}
.header-social li a:hover i {
    color: var(--white);
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}